body{background-color:rgb(0,255,242);color:rgb(6, 2, 255); text-size-adjust: 20px; text-align: left; text-indent: 5px;font-family: 'Quicksand', sans-serif;}
/*font has sizes: 300, 400, 500, 600, 700*/
h3{text-align: center;}
h4{font-weight: bold;}