body{background-color:rgb(0,255,242);color:rgb(6, 2, 255); text-align: left; text-indent: 5px;font-family: 'Quicksand', sans-serif;}
/*font has sizes: 300, 400, 500, 600, 700*/
h1{color:rgb(6, 2, 255);}
h3{text-align: center;}
h6{font-size: 50px;}
p{color:rgb(6, 2, 255); font: weight 700px; 
    border:15px solid rgb(12, 228, 218);margin: 10px solid; ; padding:10px solid ; width:90%; }
footer{color:rgb(6, 2, 255)}
.class{color:rgb(255, 140, 0)}
section{color:rgb(133, 48, 170); font-size: 30px; font-weight:bold;}

a:link{color:rgb(251, 14, 14)}
a:hover{color:rgb(148, 54, 188)}
a:visited{color:rgb(243, 128, 6)}
a:active{color:rgb(18, 157, 41)}
.level1{list-style-type:lower-alpha; color:rgb(208, 0, 255)}
.level2{list-style-type:lower-roman ; color:rgb(6, 2, 255)}
.level3{list-style-type:disc; color:rgb(34, 131, 16);}
.red{color:rgb(255, 82, 2)}


/* example of class used to format things
/*
make comments  background-image: url(art2.png) background-image: url(art2.png) */